{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a href="{% url 'homework' %}" class="nav-link">Homeworks</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'notes' %}" class="nav-link">Notes</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'todo' %}" class="nav-link">Todo</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'youtube' %}" class="nav-link">YouTube</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'books' %}" class="nav-link">Books</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'dictionary' %}" class="nav-link">Dictionary</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'wiki' %}" class="nav-link">Wiki</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'conversion' %}" class="nav-link active">Conversion</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'askAI' %}" class="nav-link">Ask AI</a>
    </li>
</ul>


<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST" class="mb-4">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Select Conversion Type</button>
            </form>

            {% if inputs %}
            <form method="POST" class="mb-4">
                {% csrf_token %}
                <div class="form-group">
                    {{ m_form.as_p }}
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="inputs" placeholder="Enter Value" required>
                </div>
                <button type="submit" class="btn btn-success">Convert</button>
            </form>
            {% endif %}

            {% if answer %}
            <div class="alert alert-success mt-4">
                <h4>Conversion Result:</h4>
                <p>{{ answer }}</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>


<hr>
<div class="container text-center">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <legend class="border-bottom mb-4"></legend>
            {{form|crispy}}
            <button href="" class="btn btn-outline-info" type="submit">
                Select
            </button>
        </div>
        {% if inputs %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>
            <div class="row">
                <div class="col-md-4">
                    {{m_form.inputs|as_crispy_field}}
                </div>
                <div class="col-md-4">
                    {{m_form.measure1|as_crispy_field}}
                </div>
                <div class="col-md-4">
                    {{m_form.measure2|as_crispy_field}}
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            {{answer}}
        </fieldset>
        <div class="form-group">
            <button href="" class="btn btn-outline-info" type="submit">
                Convert
            </button>
        </div>
        {% endif %}
    </form>
</div>

{% endblock content %}
