{% extends "base.html" %}
{% block content %}

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a href="{% url 'homework' %}" class="nav-link">Homeworks</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'notes' %}" class="nav-link">Notes</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'dictionary' %}" class="nav-link">Dictionary</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'books' %}" class="nav-link">Books</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'todo' %}" class="nav-link">To-do</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'youtube' %}" class="nav-link">Youtube</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'wikipedia' %}" class="nav-link">Wikipedia</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Conversion</a>
    </li>
</ul>

<hr>
<center>
    {% if searched %}
        <p>You Search For {{searched}}</p>
        {% for note in notes %} 
            {{note}}<br>
        {% endfor %}
        {% for homework in homeworks %}
            {{homework}}<br>
        {% endfor %}
        {% for todo in todos %}
            {{todo}}<br>
        {% endfor %}
        {% for diary in diary %}
            {{diary}}<br>
        {% endfor %}
    {% else %}
    {% endif %}
</center>
{% endblock content %}