{% extends 'base.html' %} 
{% load static %} 
{% block content %}
{% load crispy_forms_tags%}

<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a href="{% url 'homework' %}" class="nav-link">Homeworks</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'notes' %}" class="nav-link">Notes</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'dictionary' %}" class="nav-link">Dictionary</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'books' %}" class="nav-link">Books</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'todo' %}" class="nav-link">To-do</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'youtube' %}" class="nav-link active">Youtube</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'wikipedia' %}" class="nav-link">Wikipedia</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'conversion' %}" class="nav-link">Conversion</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'askAI' %}" class="nav-link">Ask AI</a>
    </li>
</ul>


<hr>
<section class='text-center container'>
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/bRZwzy0xvhM?si=Lin9b_-nnwIivGae" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
    <h2>Search Videos in Youtube</h2>
    <p>search videos and select any video to open in youtube</p>
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <input class="btn btn-danger" type="submit" value="Submit">
    </form><br>

    {% for result in results %}
    
    <a href="#" onclick="playvideo('{{result.video_id}}')">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-fluid" src="{{result.thumbnails}}" alt="">
                    </div>
                    <div class="col-md-7">
                        <h3 class="p-0 m-0">{{result.title}}</h3>
                        <b>
                            <u>
                                <h5 class="p-0 m-0">{{result.channel}}</h5>
                            </u>
                        </b>
                        <h6 class="p-0 m-1">{{result.description}}</h6>
                        <b>
                            <h6 class="ml-0 mt-3">{{result.duration}}</h6>
                            <h6 class="ml-0 mt-1">{{reseult.views}}</h6>
                            <h6 class="ml-0 mt-1">{{result.published}}</h6>
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
    <br>
</section>

<!-- Add Modal HTML -->
<div class="modal" id="videoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Video Player</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2 id='videosrc'></h2>
        <iframe id="videoFrame" width="100%" height="315" src="" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<script>
function playvideo(videoId) {
    var videoUrl = "https://www.youtube.com/embed/" + videoId + "?autoplay=1";
    document.getElementById('videoFrame').src = videoUrl;
    $('#videoModal').modal('show');
}

// Handle modal close event to stop video playback
$('#videoModal').on('hidden.bs.modal', function () {
    document.getElementById('videoFrame').src = '';
});

// Ensure close button works
$('#videoModal .close').click(function() {
    $('#videoModal').modal('hide');
});
</script>


{% endblock content %}
